body 
{
background-image: url(img.jpg);
background-repeat: no-repeat;
background-position: center top;
background-size: cover;
}

ul 
{
list-style: none;
margin: 0; 
padding-left: 0; 
color: white;
font-size: 18px;
}

li 
{
display: inline;
padding-left: 20%;
}

a 
{
text-decoration: none; 
color: white;
}

svg
{
position: absolute;
}

div
{
text-align: center;
color: #B09259;
position: relative;
}

.name
{
top: 180px;
font-size: 60px;
letter-spacing: 10px;
}

.date
{
top: 390px;
font-size: 36px;
letter-spacing: 5px;
}

.palace
{
top: 410px;
font-size: 16px;
letter-spacing: 1px;
}